name: Docker

on:
  workflow_dispatch:
  push:

env:
  IMAGE_NAME: "${{ secrets.IMAGE_NAME }}"
  CLEAN_NAME: "default-value"  # 默认值
jobs:

  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@v3

    - name: Check out code
      uses: actions/checkout@v4

    - name: Pull Docker images
      run: |
        echo "make dir to image_tar"
        mkdir temp
        cd temp
          while read -r image; do
            echo "CLEAN_NAME=$(echo  $image | sed 's/[:/]/_/g')" >> $GITHUB_ENV
            echo "Pulling $image..."
            docker pull "$image"
            echo "docker save $image"
            docker save -o ./${{env.CLEAN_NAME}}.tar  $image
          done <<< "${{ secrets.IMAGE_NAME }}"    
    - name: Upload docker directory
      uses: actions/upload-artifact@main
      with:
        name: Upload_docker_images
        path: temp
