name: Docker

on:
  workflow_dispatch:
  push:

env:
  IMAGE_NAME: "${{ secrets.IMAGE_NAME }}"
jobs:

  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

    - name: Check out code
      uses: actions/checkout@v2

    - name: Push image
      run: |
        echo "docker pull $IMAGE_NAME"
        docker pull $IMAGE_NAME
        echo "make dir to image_tar"
        mkdir temp
        cd temp
        echo "docker save image"
        docker save -o ./docker_image.tar  $IMAGE_NAME
        
    - name: Upload docker directory
      uses: actions/upload-artifact@main
      with:
        name: Upload-${{ secrets.IMAGE_NAME }}
        path: temp
